@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/segoeui.woff2") format("woff2"),
    url("../fonts/segoeui.ttf") format("ttf")
}
@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/segoeui.woff2") format("woff2"),
    url("../fonts/segoeui.ttf") format("ttf")
}
:root {
    box-sizing: border-box;
    font-family: "Segoe UI", "Roboto", sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    flex-shrink: 0;
    flex-grow: 1;
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
    background: #a9dbf6 url('../img/bg-mobile.jpg') no-repeat;
}

.page-header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    font-family: inherit;
    overflow: hidden;
}

.page-header__link {
    margin: 0 auto;
    padding: 20px;
}

.page-header__animation {
    position: absolute;
    top: 50px;
    left: 0%;
    width: 232px;
    height: 85px;
    animation: move 25s linear infinite;
}

.page-main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: auto;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
}
.page-main__header {
    font-family: inherit;
    color: #184a6f;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 0;
}
.page-main__header, .page-main__subheader {
    font-family: inherit;
    color: #184a6f;
    text-transform: uppercase;
    font-weight: bold;
}
.page-main__subheader {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}
.page-main__subheader--hot-price {
    color: #ff1a14;
    font-size: 36px;
}

@media (min-width: 320px) {
    .page {
        background-image: url('../img/bg.jpg');
    }
    .page-main__header {
        font-size: 50px;
    }
    .page-main__subheader {
        font-size: 58px;
        line-height: 0.8;
    }
    .page-main__subheader--hot-price {
        font-size: 78px;
    }
}

.page-main__button {
    box-sizing: border-box;
    position: relative;
    width: 385px;
    height: 90px;
    order: 2;
    margin: 0;
    padding: 0;
    outline: none;
    border-width: 10px;
    border-left-color: #cc8246;
    border-bottom-color: #cc8246;
    border-right-color:#ffdaa4; 
    border-top-color:#ffdaa4;
    background-color: #ffa358;
    color: #bd0707;
    font-size: 73px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
}
.page-main__button--text {
    background: linear-gradient(#dc2207 50%, #980607 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-main__button::before {
    position: absolute;
    content: "";
    z-index: -10;
    transform: translate(-30%, -50%);
    width: 575px;
    height: 205px;
    background: transparent url('../img/log.png') no-repeat center;
}

.page-main__crab {
    position: relative;
    z-index: 5;
    margin-bottom: 0px;
    width: 150px;
    height: 160px;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    animation: crab-move 1.5s linear alternate infinite;
}


@keyframes move {
       0%  { transform: translateX(-5vw) rotateY(0deg);}
       50% { transform: translateX(110vw) rotateY(0deg);}
       50.001% { transform: translateX(110vw) rotateY(180deg);}
       100%  { transform: translateX(-110vw) rotateY(180deg);}
    }
@keyframes crab-move {
    0% {transform: translateX(-120px);}
    100% {transform: translateX(120px);}
}
@keyframes crab-foot {
    0% {transform: rotate(35deg);}
    100% {transform: rotate(-35deg);}    
}
@keyframes crab-body {
    0% {transform: translate(0, -1px);}
    100% {transform: translate(0, 1px);}    
}
@keyframes crab-hand {
    0% {transform: rotate(5deg);}
    100% {transform: rotate(-5deg);}    
}

.page-main__crab--shell {
    position: absolute;
    top: 5px;
    left: 20%;
}
.page-main__crab--body {
    position: absolute;
    top: 90px;
    left: 25%;
    animation: crab-body 0.5s linear 0s infinite alternate;
}
.page-main__crab--foot-left {
    position: absolute;
    top: 90px;
    left: 0%;
    animation: crab-foot 0.2s ease-in 0s infinite alternate;
}
.page-main__crab--foot-right {
    position: absolute;
    top: 90px;
    left: 70%;
    animation: crab-foot 0.2s ease-in 0.7s infinite alternate;
}

.page-main__crab--hand-right {
    position: absolute;
    top: 120px;
    left: 50%;
    animation: crab-hand 0.5s linear 0.1s infinite alternate;
}

.page-main__crab--hand-left {
    position: absolute;
    top: 120px;
    left: 15%;
    animation: crab-hand 0.5s linear 0.1s infinite alternate;
}

.page-main__crab--eye-left {
    position: absolute;
    top: 110px;
    left: 35%;
}

.page-main__crab--eye-right {
    position: absolute;
    top: 110px;
    left: 55%;
}

.page-main__crab--eye1 {
    position: absolute;
    top: 110px;
    left: 35%;
}

.page-main__crab--eye2 {
    position: absolute;
    top: 110px;
    left: 60%;
}

.page-main__button:hover + .page-main__crab {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.page-main__button:hover + .page-main__crab .page-main__crab--foot-right {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    animation: knock 1s linear 1s infinite;
/*    transform: transitionY(25px);
*/}

@keyframes knock {
    0%, 100% {transform: transitionY(0px);}
    25% {transform: transitionY(25px);}
    50% {transform: transitionY(0px);}
    75% {transform: transitionY(25px);}
}

.page-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    padding: 10px 50px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.page-footer__text {
    font-family: inherit;
    font-size: 58px;
    font-weight: bold;
    color: #184a6f;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}

.page-footer:hover .page-footer__animation {
    animation: turtle 3.5s linear 0s infinite alternate;
}

@keyframes turtle {
    0%, 100% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}    
}

.page-main__list-wrap {
    order: 4;
    position: relative;
    width: 80vw;
    height: 200px;
    z-index: 5;
    margin-top: 100px;
    margin-bottom: 50px;
    border-left: #fff 10px solid;
    border-right: #fff 10px solid;
    border-bottom: #fff 10px solid;
    border-radius: 30px;
    box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

.page-main__list-wrap:before {
    content: "";
    position: absolute;
    z-index: 10;
    height: 10px;
    width: 430px;
    top: -5px;
    left: 6px;
    border-top-left-radius: 80%;
    /* transform: translate(0, 20%); */
    background-color: #fff;
    box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.page-main__list-wrap:after {
    content: "";
    position: absolute;
    z-index: 10;
    height: 10px;
    width: 430px;
    top: -5px;
    right: 6px;
    border-top-right-radius: 80%;
    /* transform: translate(0, 20%); */
    background-color: #fff;
    box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.page-main__list-header {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: -5px 5px 10px #000;
    padding: 10px;
    background-color: #transparent;
}

.page-main__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    list-style: none;
}

.page-main__list-link {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    padding-top: 100px;
}

.page-main__list-link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 25%;
    width: 150px;
    height: 150px;
    border: 10px #fff solid;
    box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
/*    transform: translate(-50%, -50%);
*/}

.list__link-drive::before {
    background: transparent url("../img/car.jpg") no-repeat center;
}
.list__link-sun::before {
    background: transparent url("../img/car2.jpg") no-repeat center;
}
.list__link-sand::before {
    background: transparent url("../img/map.jpg") no-repeat center;
}
.list__link-resort::before {
    background: transparent url("../img/beach.jpg") no-repeat center;
}
.page-main__list-title {
    font-size: 35px;
    /* font-weight: bold; */
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
    text-shadow: -5px 5px 10px #000;
}

.page-main__list-date {
    font-size: 28px;
    color: #184a6f;
    /* font-weight: bold; */
}